.Navbar {
  background-color: antiquewhite;
  width: 100%;
  height: 80px;
}

.me-auto>a {
  color: #323138;
}


.brandlogo {
  font-size: 18px;
  font-family: 'Sacramento';
}

.loginbtn {
  padding: 5px;
  border: 2px solid #3435ce;
  color: #3435ce;
  font-size: 18px;
  background-color: transparent;
  border-radius: 5px;
}

.loginbtn:hover {
  color: white;
  background-color: #3435ce;
}

.default {
  color: rgb(253, 253, 253);
  padding: 5px 8px;
  background: black;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;

}

.MainDevImage {
  background-size: contain;

  width: 50%;
  height: 660px;
  background-repeat: no-repeat;
  background-position: center left;


}

.ApplicationContainer {

  background-color: #ffffff;

}

.Application_container>div {


  text-align: left;
}

.ApplicationContainer>div>table>tbody>tr>td>ul {
  text-align: left;

  font-size: 20px;
  color: rgb(246, 242, 248);
  padding: 20px;
  /* margin-top: 50px; */
  list-style: none;
}

.Topics>img {
  width: 80px;
  height: 80px;
}

.Topics>h5,
h6 {
  font-weight: bold;
}

.Topics>h6 {
  font-size: 18px;
  font-weight: bold;
  color: #214280;
}


/* Services */
/* .Services_con {
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    justify-content: center;
}

.Services_nav_btn {
    height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
    width: 100%;
    column-gap: 10px;
}
.Services_nav_btn > button{
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 2px;
  font-family: 'Questrial';
    background: none;
    font-size: large;
    border: none;
 
}
.Services_nav_btn > button.active_Services_btn{
  border-bottom: 4px solid #01031f

}
.Services_nav_btn > button:hover{
  background-color: #0e1252;
  color: white;
  border: none;
}

.Services_desc {
    display: flex;
    row-gap: 50px;
    flex-direction: column;
}
.Services_desc_row {
    display: flex;
    column-gap: 20px;
}

.Services_desc_row>div {
    box-shadow: 0 0 4px grey;
    padding: 10px;
    border-radius: 4px;
    height: max-content;
    font-weight: bold;
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
} */


/* servics 2 */

.Services_con {
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    justify-content: center;
}

.Services_nav_btn {
    height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
    width: 100%;
    column-gap: 10px;
}
.Services_nav_btn > button{
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 2px;
  font-family: 'Questrial';
    background: none;
    font-size: large;
    border: none;
 
}
.Services_nav_btn > button.active_Services_btn{
  border-bottom: 4px solid #01031f

}
.Services_nav_btn > button:hover{
  background-color: #0e1252;
  color: white;
  border: none;
}

.Services_desc {
    display: flex;
    row-gap: 50px;
    flex-direction: row;
}
.Services_desc_row {
    row-gap: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.Services_desc_row > div {
    padding: 10px;
    border-radius: 4px;
    height: max-content;
    font-weight: bold;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    column-gap: 15px;
}
.Topic_desc {
    padding: 15px;
    border-radius: 4px;
    width: 550px;
    display: flex;
    column-gap: 20px;
    border: 2px solid;
}
.Topics_Num {
    width: 50px;
    height: 50px;
    background-color: #084298;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    font-family: 'Questrial';
    border-top-left-radius: 10px;
  
    border-bottom-right-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}
.Services_desc > div:nth-child(1) > .Topics > div.Topic_desc > p{
  text-align: right;
}
div.Topic_desc > div > img{
  width: 60px;
  height: 60px;
}



/* tecnology style */



.card-header {

  color: white
}

.TecnoCon {
  row-gap: 50px;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  align-items: center;
  justify-content: center;
}

.TecnoCon>.TechRow {
  display: flex;
  column-gap: 8px;

}

.TecnoCon>.TechRow>.TechRow-Res {
  column-gap: 8px;
  display: flex;
}

.TechRow-Res>.card {
  border-width: 2px;
  border-style: solid;
  width: 16rem;
}

div.card-body>p {
  font-weight: bold;
}

.card-header {
  font-weight: bold;
}




.TechnologyPlates {

  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;

  border-radius: 5px;
  height: 140px;
  box-shadow: 0px 0px 6px 2px #0e0f68;
}

.TechnologyPlates:hover {
  transform: scale(1.2);
  z-index: 100;
}


/* project   */


.ProjectContainer {
  width: 100%;
 
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 20px;
}

.ProjectContainer>.ProjectDiv:nth-child(1) {
  border-color: #0d4cff;
  color: #0d4cff;
}

.ProjectContainer>.ProjectDiv:nth-child(1):hover {
  background-color: #0d4cff;
  color: white;
}


.ProjectContainer>.ProjectDiv:nth-child(2) {
  border-color: rgb(34 159 63);
  color: #229f3f;
}

.ProjectContainer>.ProjectDiv:nth-child(2):hover {
  background-color: #229f3f;
  color: white;
}

.ProjectContainer>.ProjectDiv:nth-child(3) {
  border-color: rgb(253 0 47);
  color: #fd002f;
}

.ProjectContainer>.ProjectDiv:nth-child(3):hover {
  background-color: #fd002f;
  color: white;
}



.ProjectDiv {
  cursor: pointer;
  width: max-content;
  height: 120px;
  border-radius: 20px;
  border-width: 10px;
  border-style: solid;
  /* border:1px solid grey; */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ProjectDiv:hover span {
  border-bottom: 2px;
}



.HappyCientCon {
  cursor: pointer;
  border: 10px solid rgb(52 53 206);
  padding: 20px;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: max-content;
  height: max-content;
}

.HappyCientCon>div {
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: max-content;
  height: max-content;
}

.HappyCientCon:hover div>span {
  border-bottom: 2px solid #252591;
}



.ProjectDiv>span {
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: bold;


}

/* testimoly */



.Testimoly_body-con {
     border: 2px solid white;
    border-radius: 0px 10px 10px 0px;
    overflow: hidden;
    position: absolute;
    display: flex;
    width: 700px;
    height: 300px;
    box-shadow: 1px 1px 18px #0e1252;
    border-left: 15px solid #183fa4;
}

.Testimoly_body-con>div {
  position:absolute;
  width: max-content;
  height: max-content;
  overflow: hidden;
  transform: translateX(0px);
  display: flex;
  background-color: white;

}

.Testitmoly_body {
  overflow: hidden;
  text-align: left;
  width: 500px;
  padding: 20px;
  height: 300px;
}

.Testitmoly_body>* {
  font-weight: bold;
}

.Testitmoly_img_con {

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 300px;
  width: 200px;
  overflow: hidden;

}

#reveiw_con>.Reveiw {
 
  color: #ffbc00;

}

.name-con {
  border-radius: 5px;
  padding-left: 5px;
  border-left: 2px solid rgb(4, 93, 196);
}

.name-con>b {
  font-weight: bold;
  font-size: 18px;
  margin: 0px;
}

.name-con>p {
  margin: 0px;
  font-size: 14px;
}

.Testitmoly_img_con>img {
  height: inherit;
  width: inherit;
}

#right,
#left {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  height: 300px;
  width: 100px;
  cursor: pointer;
}
.TestNavbtn{
  color: rgb(14, 70, 12);


}

/* Contact   */

/* 

.Contact_con {

  flex-direction: row;
  column-gap: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.Contact_con>div {
  width: 50%;
}

.Contact_con>.Left>img {
  width: 100%;
  height: 100%;
}

.Contact_con>.Right {


  row-gap: 50px;
  display: flex;
  width: 50%;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}



.Contact_con>.Right>form>.mb-3 {
  display: flex;
  justify-self: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

 */







/* footer */
.FontLinkContainer>div>ul>li {
  text-align: left;
  font-size: 14px;
  list-style: none;
}

#footCon {

  padding: 20px 0px;
  /* justify-content: center; */
  /* align-items: center; */
  column-gap: 8%;
}


.FontLinkContainer>div>ul {
  padding: 0px;
}

.FontLinkContainer>div>ul>li>a {
  text-decoration: none;
  color: #b4acac;
}

.FollowUs {
  margin-left: 8%;

  flex-direction: column;
  width: 30%;
  display: flex;
  justify-content: center;

}

/* .SocialLinkCon >div{

}
 */
.SocialLinkCon>a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
}


div.SocialLinkCon>a:hover {
  color: rgb(32, 33, 44);
  background-color: rgb(255, 255, 255);
}


.reserve {
  padding-bottom: 20px;
  font-size: 14px;
  background-color: #1a2e35;
  color: #b4acac;
}











@media (max-width:1100px) {
  .TechRow-Res>.card {
    width: 13rem;
  }



}

@media (max-width:800px) {

  .MainContainer {
    display: flex;
    flex-direction: column;
  }

  .MainDevImage {
    width: 100%;
    background-position: 45% 0px;
  }

  /* .TecnoCon >.TechRow{
 

} */
  .TechRow-Res>.card {
    width: 8rem;
    height: auto;
  }

  .TechRow-Res>.card>.card-body {
    display: none;
  }

  .ProjectDiv>span {
    font-size: 14px;
  }

  #footCon {
    column-gap: 4%;
  }

  .FollowUs {
    margin-left: 3%;
  }
}

@media (max-width:425px) {}